body {
    font-family: 'Inter', serif;
    margin: 0;
}

.nav-bar, .hero, .cta, .footer {
    padding: 0px 17%;
}

.nav-bar, .hero, .footer {
    background-color: #1F2937;
}

.nav-bar {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-logo, .hero-header, .hero-button {
    color: #F9FAF8;
}

a, .hero-subtext {
    color: #E5E7EB;
}

a {
    font-size: 18px;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero {
    align-items: center;
    display: flex;
    min-height: 500px;
    gap: 32px;
}

.hero-header {
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 8px;
}

.hero-subtext {
    margin-bottom: 16px;
}

.hero-button {
    border: 0px;
    border-radius: 8px;
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 32px;
}

.hero-img {
    height: auto;
    max-width: 600px;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
}

.info-header, .illust-subtext, .quote-text, .quote-author {
    color: #1F2937;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 48px;
}

.illust-container {
    display: flex;
    gap: 36px;
}

.illust {
    max-width: 150px;
    text-align: center;
}

.illust-img {
    height: auto;
    width: 150px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    padding: 0px 25%;
}

.quote-text em {
    font-size: 36px;
    font-weight: lighter;
}

.quote-author {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

.cta {
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: center;
}

.cta-container {
    align-items: center;
    border-radius: 16px;
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 5% 10%;
    flex: 1;
}

.cta-header, .cta-subtext, .cta-button {
    color: #E5E7EB;
}

.cta-header {
    font-size: 24px;
    font-weight: bold;
}

.cta-button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
    height: fit-content;
    padding: 8px 40px;
}